.container{
  display: flex;
  gap: 2rem;
  justify-content: center;
  font-family: var(--font-mono);
  padding: 1rem;
}

.content{
  display: flex;
  gap: 2rem;
  list-style:none;
}

.content li{
  font-weight: 700;
  cursor: pointer;
}

.content li:hover{
  font-weight: 700;
  color: rgb(104, 104, 104);
}



.content_card_course{
  border: 1px solid #d1d7dc;
  margin-top: 1rem;
  padding: 1.5rem;
}

.content_category_text_p{
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
  font-size: 1.2rem;
}

.statusOptionTrue{
  background-color: red;
}

.statusOptionFalse{
  background-color: rgb(105, 160, 4);
}