
.container{
  display: flex;
  gap: 2rem;
  justify-content: center;
  padding: 1rem;
  margin-top: 2rem;
  font-size: 1.2rem;
}


.content{
  display: flex;
  gap: 2rem;
  list-style:none;
}

.content li{
  font-family: var(--font-mono);
  font-weight: 700;
  cursor: pointer;
  color: rgb(104, 104, 104);
  font-size: 1rem;
}

.content li:hover{
  font-weight: 700;
  color: rgb(0, 0, 0);
}



.content_card_course{
  border: 1px solid #d1d7dc;
  margin-top: 1rem;
  padding: 1.5rem;
}

.content_category_text_p{
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
  font-size: 1.2rem;
  font-family: var(--font-mono);
}

.statusOptionTrue{
  color: black !important;
}

