.container {
  max-width: 1200px;
  display: grid;
  margin: 0 auto;
  padding: 1rem;
}

.container h3 {
  margin-bottom: 0.7rem;
  color: #1c1d1f;
  font-family: var(--font-mono);
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -.02rem;
  font-size: 1.7rem;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  /* overflow: scroll; */
  overflow-x: hidden;
  white-space: normal;
  overflow: visible;
}



.content_reponsive {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}


.wrapper .carousel {
  cursor: pointer;
  position: relative;
  margin: auto;
}

.carousel h4 {
  font-family: var(--font-mono);
  margin-top: 0.4rem;
}

.carousel img {
  width: 100%;
  /* height: 100%; */
}

.carousel h5 {
  margin-top: 0.2rem;
  font-family: var(--font-mono);
  font-weight: 400;
  color: #626262;
}

.button_left_rigth {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
}

.button_left_rigth_learning_wishlist {
  display: block;
}

.button_left {
  background-color: #1c1d1f;
  border: none;
  color: white;
  font-size: 1.3rem;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  font-weight: 800;
  position: absolute;
  top: 20%;
  left: 0;
  cursor: pointer;
  z-index: 1;
}

.button_left:hover {

  background-color: #414040;
}

.button_rigth {
  background-color: #1c1d1f;
  border: none;
  color: white;
  font-size: 1.3rem;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  font-weight: 800;
  position: absolute;
  top: 20%;
  right: 0;
  cursor: pointer;
  z-index: 1;
}

.button_rigth:hover {
  background-color: #414040;
}

.price {
  font-family: var(--font-mono);
  font-weight: 700;
  color: #1c1d1f;
  margin-top: 0.3rem;
}




/* rating styles */
.content_rating {
  display: flex;
  gap: 0.2rem;
  margin-top: 0.3rem;
  font-family: var(--font-mono);
  align-items: center;
  font-weight: 600;
  color: #c59000;
}

.rating {
  display: flex;
  gap: 0.17rem;
}

.star_show {
  color: rgb(221, 162, 0);
  font-weight: bold;
}

.star_hide {
  color: rgb(205 205 205);
  font-weight: bold;
}

@media (max-width: 780px) {
  .content {
    grid-template-columns: 1fr 1fr;
  }

  .button_left {
    top: 37%;
  }

  .button_rigth {
    top: 37%;
  }
}


.content_options {
  display: flex;
  gap: 2rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
  font-family: var(--font-mono);
}

.content_options select {
  font-size: 0.75rem;
  line-height: 1.3;
  padding: 1em 2.4em 1em 1em;
  max-width: 100%;
  box-sizing: border-box;
  margin: 10px auto;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E), linear-gradient(to bottom, #ffffff 0%, #f7f7f7 100%);
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
  cursor: pointer;
  font-weight: 900;
}

.content_options option {
  font-weight: normal;
  margin: 1rem;
  cursor: pointer !important;
}

.poppover {
  position: absolute;
  top: 0;
  opacity: 1;
  transition: .3s ease all;
  /* transform: translate(-107%); */
  z-index: 1;
  width: 100%;
}

.what_learnt_hover {
  position: absolute;
  zoom: 1;
  filter: alpha(opacity=0);
  opacity: 0;
  z-index: 1;
  padding: 5px;
  transition: all ease .8s;
  top: 0;
  width: 100%;
  padding: 1.5rem;
  border: 1px solid #e7e7e7;
  background-color: #fff;
  box-shadow: 0 0 0 1px #d1d7dc, 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
  font-family: var(--font-mono);
}

.what_learnt_hover:hover {
  filter: alpha(opacity=80);
  opacity: 1;
  /*Al hacer hover sobre la caja hacemos visible los datos*/
}


.title {
    font-size: 1rem;
    margin-bottom: 0.4rem;
}
.description{
    font-size: 0.8rem;
}

.content_heart{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.button{
    width: 85%;
    border: 0;
    height: 40px;
    background: #b12dff;
    color: white;
    font-size: 1rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
} 

.button_learning{
    width: 85%;
    border: 0;
    height: 40px;
    background: #1d1d1d;
    color: white;
    font-size: 1rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
} 
.icon{
    text-align: center;
    background: #fffcfc;
    border: 1px solid;
    width: 54px;
    height: 45px;
    font-size: 2rem;
    border-radius: 22rem;
}
.icon2{
    text-align: center;
    background: #fffcfc;
    border: 1px solid;
    width: 54px;
    height: 45px;
    font-size: 2rem;
    border-radius: 22rem;
}
